body { font-family: Arial; font-size: 13px; color: #24292e; margin: 0px; text-align: center; background: #fff;}
a { color: #009aff; text-decoration: underline; }
a:hover { color: red; text-decoration: none; }

h3 { color: #9e2325; }
h4 { border-bottom: 1px solid #e5e5e5; text-align: left; padding: 5px; color: #9e2325; }


#meta {background: #F5F5F5; overflow:hidden; padding: 5px; border-bottom: 1px dotted #F5F5F5; color: #778899;}

.txtfield {width: 100%; border: 1px #eee solid; padding: 2px;}
.submit_btn { background: #009aff; color: #fff; border: 1px; padding: 3px; min-width: 40px;}

.glyphicon {color: #ebebe0;}
.glyphicon:hover { cursor: pointer;}
.glyphicon-upload:hover { color: #5cd65c; }
.glyphicon-download:hover { color: #ff704d; }
.glyphicon-heart {color: #ff1a1a;}
.glyphicon-edit { color: #4d94ff; }
.glyphicon-menu-down { color: #4d94ff; }
.glyphicon-edit:hover { color: #0066ff; }
.glyphicon-menu-down:hover { color: #0066ff; }
.glyphicon-plus:hover { color: #0066ff; }
.glyphicon-pencil:hover { color: #0066ff; }
.glyphicon-ok-sign { color: #a4c73c; }
.glyphicon-remove-sign { color: #ff7373; }
.glyphicon-arrow-up:hover { color: #444193; }
.glyphicon-arrow-down:hover { color: #444193; }

.identifierLink {text-decoration: none;}


.ulBranch {}

ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.tree ul {
     margin-left: 17px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     color: #000;
     border-left:1px solid #d1e0e0;
   }
   ul.tree li:last-child {
       border-left:none;
   }
   ul.tree li:before {
      position:relative;
      top:-0.3em;
      width:15px;
      border-bottom:1px solid #d1e0e0;
      content:"";
      display:inline-block;
      left:-7px;
   }
   
.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,
.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 { text-align: left;}