body { font-family: Arial; font-size: 13px; color: #24292e; margin: 0px; text-align: center; background: #fff;}
a { color: #009aff; text-decoration: underline; }
a:hover { color: red; text-decoration: none; }

h3 { color: #9e2325; }
h4 { border-bottom: 1px solid #e5e5e5; text-align: left; padding: 5px; color: #9e2325; }


#meta {background: #F5F5F5; overflow:hidden; padding: 5px; border-bottom: 1px dotted #F5F5F5; color: #778899;}

.txtfield {width: 100%; border: 1px #eee solid; padding: 2px; border: 1px solid #e5e5e5;}
.big_textarea { width: 100%; height: 200px; }
.edit_element_textarea { width: 100%; height: 200px; border: 1px solid #e5e5e5;}
.submit_btn { background: #009aff; color: #fff; border: 1px; padding: 3px; min-width: 40px;}
input:focus { 
    background-color: #fef65b;
    border: 1px solid #FF7F50;
    outline:none;
}
textarea:focus { 
    background-color: #fef65b;
    border: 1px solid #FF7F50;
    outline:none;
}


.glyphicon {color: #ebebe0;}
.glyphicon:hover { cursor: pointer;}
.glyphicon-upload:hover { color: #5cd65c; }
.glyphicon-download:hover { color: #ff704d; }
.glyphicon-heart {color: #ff1a1a;}
.glyphicon-edit { color: #4d94ff; }
.glyphicon-menu-down { color: #4d94ff; }
.glyphicon-edit:hover { color: #0066ff; }
.glyphicon-menu-down:hover { color: #0066ff; }
.glyphicon-plus:hover { color: #0066ff; }
.glyphicon-pencil:hover { color: #0066ff; }
.glyphicon-ok-sign { color: #a4c73c; }
.glyphicon-remove-sign { color: #ff7373; }
.glyphicon-arrow-up:hover { color: #444193; }
.glyphicon-arrow-down:hover { color: #444193; }
.glyphicon-eye-open { color: #009aff; }
.glyphicon-eye-open:hover { color: #ff0000; }


.glyphicon-remove:hover { color: #C70039; }

.identifierLink {text-decoration: none;}


.ulBranch {}

ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.tree ul {
     margin-left: 17px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     color: #000;
     border-left:1px solid #d1e0e0;
   }
   ul.tree li:last-child {
       border-left:none;
   }
   ul.tree li:before {
      position:relative;
      top:-0.3em;
      width:15px;
      border-bottom:1px solid #d1e0e0;
      content:"";
      display:inline-block;
      left:-7px;
   }
   
.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,
.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 { text-align: left;}


#level { width: 100%; background: #403f4d; color: #fff; height: 23px; text-align: center; position: relative; font-size: 17px;}


table.table-mini > thead > tr > th, 
table.table-mini > tbody > tr > th, 
table.table-mini > tfoot > tr > th, 
table.table-mini > thead > tr > td, 
table.table-mini > tbody > tr > td, 
table.table-mini> tfoot > tr > td
{ padding: 2px 10px 2px 10px; border: 0; }

.memetextarea { width: 100%; height: 150px; font-size: 11px;}
.modal-body {text-align: left;}


::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {


    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.p18 { font-size: 18px; line-height: 80%; }
.p17 { font-size: 17px; line-height: 80%; }
.p17 { font-size: 17px; line-height: 80%; }
.p16 { font-size: 16px; line-height: 80%; }
.p15 { font-size: 15px; line-height: 80%; }
.p14 { font-size: 14px; line-height: 80%; }
.p13 { font-size: 13px; line-height: 80%; }

.classEditorLinks { background: #DAF7A6; padding: 10px; }

.notcompleted { color: #FF6347; }
.floatLeft { float: left; }
.deleteSpan { color: #FF6347; }
.deleteSpan:hover { cursor: pointer; text-decoration: underline; }

.spanLink { color: #009aff; }
.spanLink:hover { cursor: pointer; text-decoration: underline; }

.workspace { background: #f5f5e9; color: #160000; padding: 20px 0 20px 0; margin-top: 10px; border-top: 2px solid #e5e5e5; }
.save_changes_right { text-align: right; padding-right: 60px; }
.navigationbar { padding: 0 0 0 25px; }

.dropdown-menu { text-align: right;}

.dropdown-item { margin: 10px; }